################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/Engine/bin
/Engine/obj
/Engine/Content/bin
/Engine/Content/obj
*.user